server {
    listen 80;
    client_max_body_size 10M;

    location / {
        proxy_pass http://graphql:4000;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header HOST $host;
    }  
}
